<div class="container">
    <div class="logo-container">
        <a href="/" class="brand-logo">
            <img src="/images/TravelBudLogo.png" class="logo-image" alt="" width="200px">
        </a>
    </div>
<div class="row">
  
  <div class="col s12 m4">
    
    
  </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
            <% if(!imageUrl){ %>
          <img src="/images/default.jpg" width = "50px">
          <%}else{ %>
            <img src="<%= imageUrl%>" width= "50px">
            <%}%>

          <span class="card-title"><%=title%></span>
        </div>
        <div class="card-content">
          <p><%= shortDescription%></p>
          <p>
            <%= keyFeatures%>
            </p>
        </div>
        <div class="card-action">
            <a  href ="<%=webLink %>"class="waves-effect waves-light btn"><i class="material-icons left"></i>Visit Website</a>
          
        </div>
      </div>
    </div>
  </div>

  <h6>Need something different? Be as specific as you need! We can find it</h6>
 
<%- include('partials/search') %>
</div>
